<body>
    <div id="grad" class="container-fluid">
        <div class="col-md-12">
            <div class="contents">
                <h2 class="head-title">Captura datos de tu empresa<br>De forma fácil y sencilla.</h2>
                <p class="text-center" id="header">Lleva tus operaciones de tu negocio con esta aplicacion web la cual
                    almacenara
                    tus datos y podras obtener información a tavés de ella.</p>
                <hr><br><br>
                <div class="header-button">
                    <a routerLink="/login" id="btn" class="btn btn-border">Comenzar</a>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid text-white" id="contact">
        <div class="row">
            <div class="col-12">
                <div class="col-5">
                    <h2 class="text-center">CONTACTO</h2>
                    <p id="p-contact">¿Quieres recibir más información de nosotros? Envíenos tu correo electrónico.</p>
                </div>
                <div class="col-5">
                    <label for="">Email</label>
                    <input type="email" class="form-control" placeholder="Email">

                </div><br>
                <div class="col-5 text-center">
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>

    </div>
    <footer class="container-fluid footer text-center">
        <img src="" id="footer-img" alt="ABModel">
        <p>Empresa tecnológica creadora de soluciones prácticas e innovadoras con software
            multiplataforma,comprometida y profesional en busca de la satisfacción del cliente.</p>
        <p>© 2018 ABModel</p>
    </footer>
</body>