<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">¡Bienvenido!</h1>
        <p>MkCapture es un programa que .......</p>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
                <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="search" class="form-control form-control-lg" placeholder="Ingresa una categoría...">
                    </div>
                    <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<main>



    <div class="container">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded" src="https://cdn4.iconfinder.com/data/icons/thefreeforty/30/thefreeforty_register-512.png" alt="Generic placeholder image"
                    width="140" height="140">
                <h2>Registrate</h2>
                <p>Crea un usuario y contraseña para utilizar la herramienta contabilizadora</p>
                
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded" src="https://cdn4.iconfinder.com/data/icons/thefreeforty/30/thefreeforty_evolucion-512.png"
                    alt="Generic placeholder image" width="140" height="140">
                <h2>Completa el formulario</h2>
                <p>No importa la empresa que tengas,con realizar unas sencillas preguntas, se adaptara el programa a
                    tus necesidades. </p>
                
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded" src="https://cdn4.iconfinder.com/data/icons/thefreeforty/30/thefreeforty_cashregister-512.png"
                    alt="Generic placeholder image" width="140" height="140">
                <h2>Captura Datos</h2>
                <p>¡Listo! Podras empezar a almacenar información y a recopilarla en formatos PDF y JPG.</p>
                
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your
                        mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
                    felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="http://www.cipconsultoria.com.br/wp-content/uploads/2017/06/cropped-Wallpaper-Cash-1.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
                    felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://cdn-images-1.medium.com/max/1920/1*ee9Ji2ToUxeYfj3YUQ1xsA.jpeg"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
                    felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://cgcesantafe.org.ar/wp-content/uploads/2015/12/cgce-santa-fe-background.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>

    <!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">ᴧ</a></p>
    <p>&copy; 2018 ABModel.</p>
</footer>
</main>