#onef{
    border: 2px solid red;
    margin: auto;    
}
#oneff{
    border: 2px solid green;
    margin: 20px 0px 20px 20px;    
}
#labelo{
    border: 2px solid green;
    margin: 20px 5px 20px 0px;    
    padding-top: 5px;
    padding-left: 0px;
    
}
#one{
    border: 2px solid black;
}
#two{
    border: 2px solid blue;
    margin: auto;
    padding: 30px;
}