<div class="container">
    <div class="row">
        <div class="col-11">
          <form>
              <div id="vaina" class="row">
                  <div id="vemos" class="col-4">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                  </div>
                  <div id="vemos" class="col-4">
                      <div class="form-group">
                        <label id="kilos" for="name">KILOS</label>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="imagePath">Image URL:</label>
                      <input type="text" class="form-control" id="imagePath" formControlName="imagePath">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="description">Description:</label>
                      <textarea name="description" id="description" class="form-control" rows="8" formControlName="description"></textarea>
                    </div>
                  </div>
                </div>
          </form>
        </div>
      </div>
      
</div>
