<div class="row">
  <div class="col-12">
    <form #itemForm = "ngForm" (ngSubmit)="(itemForm)">
      <div id="onef" class="row">
        <div id="oneff" class="col-md-4 form-group">
            <label for="item">KILOS</label>
          <input 
          type="text" 
          class="form-control"  
          name = "item" 
          #name = "ngModel"
          [(ngModel)]="itemService.selectedItem.quantity"
          placeholder="agrega una cantidad válida..." 
          >
        </div>
        <div id="labelo" class="col-md-1 form-group">
            <button class="btn btn-primary" type="submit"> Agregar</button>
          </div>
          <div id="labelo" class="col-md-1">
              <button class="btn btn-secondary" type="reset" (click) ="resetForm(itemForm)"> Reset</button>
            </div>
      </div>
      <div id="two" class="row">
        <div id="one" class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
          </ul>
        </div>
        <div id="one" class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
              </ul>
        </div>
        <div id="one" class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
              </ul>
        </div>
        <div id="one" class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
              </ul>
        </div>
        <div id="bot" class="col-md-4">
            <button id="bend" type="button" class="btn btn-secondary">TERMINADO</button>
        </div>
      </div>
    </form>
  </div>