<div class="row"></div>
<div class="row">
  <div class="col-12">
    <form>
      <div id="onef" class="row">
        <div id="oneff" class="col-md-4">
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div id="labelo" class="col-md-1">
          <label for="name">KILOS</label>
        </div>
        <div id="labelo" class="col-md-1">
            <label for="name">←Agregar</label>
          </div>
          <div id="labelo" class="col-md-4">
              <label for="name">Irá la fecha</label>
            </div>
      </div>
      <div id="two" class="row">
        <div id="one" class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
            <li class="list-group-item">
              item 1
            </li>
          </ul>
        </div>
        <div id="one" class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
              </ul>
        </div>
        <div id="one" class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
              </ul>
        </div>
        <div id="one" class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
                <li class="list-group-item">
                  item 1
                </li>
              </ul>
        </div>
        <div id="one" class="col-md-4">
            <button type="button" class="btn btn-secondary">TERMINADO</button>
        </div>
      </div>
    </form>
  </div>