#onef{
    margin: auto;    
}
#oneff{
    margin: 20px 0px 20px 20px;    
}
#labelo{
    margin: 20px 5px 20px 0px;    
    padding-top: 5px;
    padding-left: 0px;
    
}
#bot{
    display: flex;
    justify-content: center;
    align-items: center;
}
#one{
}
#two{
    margin: auto;
    padding: 30px;
}