<body>
    <div class="container text-center">
        <div  class="container-fluid">
          <br>
          <h1 class="display-4">Comenzar Reporte</h1>
          <br>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRHqObLPSsyVY1uJQz2uhDhOTfq41303ARJXdbgfUXVSKYYcj2yQ"
            alt="" width="150" height="150">
          <div class="row">
            <div class="col-12">
              <form>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label for="firstName">Nombre del Vendedor</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" pattern="^[A-Za-z]+$"
                      required>
                  </div>
                  <div class="col-sm-6 form-group">
                      <label for="firstName">Nombre del producto</label>
                    <input type="text" class="form-control" id="product" placeholder="" value="" pattern="^[A-Za-z]+$"
                      required>
                    </div>
                    <div class="row">
                        <div id="bot" class="col-md-12">
                            <button class="btn btn-basic" type="button" routerLink="/second">Capturar datos</button>
                        </div>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
</body>
