<div class="container text-center">
  <div class="container">
    <br>
    <h1 class="display-4">Comenzar Reporte</h1>
    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRHqObLPSsyVY1uJQz2uhDhOTfq41303ARJXdbgfUXVSKYYcj2yQ"
      alt="" width="150" height="150">
    <div class="row col-12">
      <div class="col-md-6">
        <label for="firstName">Nombre del Vendedor</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
      </div>
      <div class="col-md-6">
        <label for="firstName">Nombre del producto</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
      </div>
    </div>
    <hr>
    <button class="btn btn-basic" type="button" routerLink="/second">Capturar datos</button>
  </div>
</div>